<a href="https://colab.research.google.com/github/skmanish1993/first/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
Dataset1 = pd.read_excel("/content/new_imran.xlsx")

In [ ]:
Dataset1

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

# Creating the pandas dataframe using dictionary

In [ ]:
dict1 = {"Courses":["Python","C++","Java","DS"], "Learner":[100, 200, 300, 50]}

In [ ]:
DF1 = pd.DataFrame(dict1)
DF1

  Courses  Learner
0  Python      100
1     C++      200
2    Java      300
3      DS       50

# Creating the pandas dataframe using pandas series

In [ ]:
Series1 = pd.Series([400, 900, 800, 500])
print(Series1)

0    400
1    900
2    800
3    500
dtype: int64

In [ ]:
DF2 = pd.DataFrame(Series1)

In [ ]:
DF2

     0
0  400
1  900
2  800
3  500

In [ ]:
# Since it is not making any significant changes in the appearance, so let's do something great with pandas series

In [ ]:
Complete = {"Column1":pd.Series((100, 900, 500, 700, 250)), "Column2":pd.Series((500, 900, 560, 980, 345))}
Complete

{'Column1': 0    100
 1    900
 2    500
 3    700
 4    250
 dtype: int64,
 'Column2': 0    500
 1    900
 2    560
 3    980
 4    345
 dtype: int64}

In [ ]:
# let's convert it into the dataframe
DF4 = pd.DataFrame(Complete)
DF4